body {
            margin: 0;
            width: 100vw;
            height:100vh;
            background-image: url("./GSFC_20171208_Archive_e002076~large.jpg");
            overflow: hidden;
            object-fit: cover;
            object-position: center;
        }

        #wrap {
            max-width: 80%;
            margin:0 auto;
        }

        .menuContainer {
            position:absolute;
            top:40%;
            left:50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .projectName {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }


        h1, .title {
            color: #fff;
            text-align: center;
        }

        h2, .contents {
            margin: 3em;
            color:#fff;
            text-align: center;
        }

        a {
            color:#fff;
        }

        a:visited {
            color:#c4e587;
        }

        a:hover {
            color:aqua;
        }